@import "../../../assets/style/variable";

.news {

  &__item {
    padding: 30px;

    @include tablet-breakpoint-down {
      padding: 15px;
    }
  }

  &__headline {
    font-size: 20px;
    font-weight: bold;
    color: $charcoal;
  }

  &__pub-date {
    color: $dark-gray;
    font-size: 15px;
    padding: 10px 0;
  }

  &__multimedia {

    img {
      width: 100%;
    }
  }

  &__footer {
    padding: 10px 0 0 0;
  }

  &__source {
    text-align: right;
    color: $charcoal;
  }
}
