<div class="news__container mat-elevation-z2">
  <div class="news__item">
    <div class="news__header">
      <div class="snipped">
        {{details?.snippet}}
      </div>
      <div class="pub-date">
        {{details?.pub_date | date:'medium'}}
      </div>
    </div>
    <div class="news__multimedia">
      <img [src]="'http://www.nytimes.com/' + details.multimedia[0]?.url" alt="">
    </div>
    <div class="news__footer">
      <div class="source">
        <span>Source: </span>{{details?.source}}
      </div>
    </div>
  </div>
</div>
