.news {
  margin: 0 15px;

  &__container {
    margin: 15px 0;
  }

  &__load-more {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__loading {
    height: 200px;
  }
}
